.form-login {
  width: 50%;
  margin: 0 auto;
  padding: 50px 0;
}
.ps-mission-bg {
  position: relative;
  z-index: 10;
  text-align: center;
  padding: 100px 0;
  background-size: 100%;
  background-repeat: no-repeat;
}
@media (min-width: 320px) {
  .ps-mission-bg {
    padding: 10px 0;
  }
}
.ps-mission-bg h3 {
  padding: 30px;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 600;
  color: #2ac37d;
  text-shadow: 0 1px 0 #000;
}
.form-group input {
  border-radius: 5px;
}
.form-control {
  background-color: #eeeeee;
  height: 42px;
}
.btn {
  outline: none !important;
  padding: 9px 12px !important;
}

.social-buttons {
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
}
.social-buttons .btn-facebook {
  background: #3b5998;
  color: white;
  padding: 10px 14px !important;
  border-radius: 50%;
}
.social-buttons .btn-twitter {
  background: #00aced;
  color: white;
  padding: 10px 14px !important;
  border-radius: 50%;
}
.social-buttons .btn-google {
  background: #c32f10;
  color: white;
  padding: 10px 14px !important;
  border-radius: 50%;
}
.label {
  color: #303030;
  font-weight: 400 !important;
  font-size: 100%;
}
.gender-css {
  background-color: #ffffff;
  padding: 8px 10px 0px 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.card-user {
  text-align: center;
  background: none !important;
  box-shadow: none !important;
  margin-bottom: 0 !important;
  border: none !important;
}
.card-user .card-body .author a img {
  border-radius: 50%;
}
.border_cart__table tr td {
  border: none !important;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none !important;
}
.carousel-control {
  top: 50% !important;
}
.carousel-control i {
  font-size: 30px !important;
}
@media (min-width: 1440px) {
  .ps-section__action {
    line-height: 100px !important;
  }
}
@media (max-width: 991px) {
  .ps-product--detail .ps-product__thumbnail {
    display: block !important;
    width: 100% !important;
  }
  .ps-product--detail .ps-product__info {
    width: 100% !important;
  }
  .ps-product--detail .ps-product__shopping .ps-btn {
    width: auto;
  }
  .ps-product--detail .ps-product__image {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .ps-section__action {
    line-height: 150px;
  }
  .menu > li.menu-item-has-children > a > i {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 10px;
  }
}
@media (min-width: 1200px) {
  .menu > li.menu-item-has-children > a > i {
    display: none;
  }
  .container-fluid {
    width: auto !important;
  }
  .main-menu > li > a {
    padding: 5px 12px !important;
  }
  .ps-section__action {
    line-height: 0;
  }
}
.ps-post--detail .ps-post__content blockquote p {
  font-size: 15px !important;
}
.ps-post--sidebar .ps-post__thumbnail,
.ps-shoe--sidebar .ps-shoe__thumbnail {
  width: 50%;
}
.ps-cart-listing .ps-cart__table tbody > tr > td {
  padding: 10px;
}
.ps-cart-listing .ps-cart__table tbody > tr > td:first-child {
  width: 15% !important;
}
.form-group--number input.form-control {
  width: 50px;
}
.ps-cart-listing .ps-cart__table tbody > tr > .input-amount {
  min-width: 200px;
}
.ps-cart-listing .ps-cart__table tbody > tr > td:nth-child(2) {
  width: 500px;
}
@media (max-width: 991px) {
  .ps-cart-listing .ps-cart__table tbody > tr > td:nth-child(3) {
    min-width: 50px;
  }
}
.ps-cart .ps-cart__footer a.ps-btn {
  width: 50%;
  float: left;
  padding: 15px;
}
.ps-cart .ps-cart__footer a.ps-btn:hover {
  opacity: 0.8;
}
.ps-cart .ps-cart__footer a:first-child {
  background-color: #ffffff;
  color: #2ac37d;
}
@media (max-width: 479px) {
  .ps-product--detail .ps-product__content .tab-list {
    display: flex;
  }
  .form-login {
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
  }
  .social-buttons {
    width: max-content;
  }
}
.bg-cover {
  background: url("~assets/images/background/background-2.jpg");
}
.ps-main {
  padding-bottom: 50px;
}
.ps-products-wrap .ps-products {
  margin-top: 125px;
}
.ps-home-testimonial {
  background: url("~assets/images/background/background-1.jpg");
}
.header-services .slick-slider {
  width: 40%;
  margin: 0 auto;
}
.ps-service {
  margin-bottom: 0;
}
.bg-cover .slick-slider .slick-dots {
  display: none !important;
}
.ps-testimonial {
  text-align: center;
  padding: 100px 0 !important;
}
.bg--parallax .container .slick-slider .slick-prev,
.bg--parallax .container .slick-slider .slick-next {
  display: none !important;
}
.bg--parallax .container .slick-slider .slick-dots {
  bottom: 20px !important;
}
.bg--parallax .container .slick-slider .slick-dots li button:before {
  font-size: 10px;
}
.bg--parallax
  .container
  .slick-slider
  .slick-dots
  li.slick-active
  button:before {
  opacity: 0.8;
  color: white;
}
.bg--parallax .container .slick-slider .slick-dots li button:before {
  color: white;
}
.admin-nav-icon div svg {
  color: #fff;
  font-size: 20px;
  margin: 10px;
}
.admin-nav-icon {
  float: right;
}
.btn-secondary {
  outline: none;
  border: none;
  background-color: #f0f8ff00;
}
.btn-secondary:not(:disabled):not(.disabled):active {
  color: #f44336;
  background-color: #fff0;
  border-color: #fff0;
}
button:focus:not(:focus-visible) {
  outline: 0 !important;
}
.btn-secondary:focus,
.btn-secondary:hover {
  color: #f44336;
  background-color: #ffffff00;
  border-color: #fff0;
  box-shadow: none !important;
}
.sidebar .menu .list a:hover,
.sidebar .menu .list a:hover span {
  color: #f44336;
}
.carousel-control-prev,
.carousel-control-next {
  z-index: 2 !important;
}
.section-feature svg {
  color: #2ac37d;
  font-size: 50px;
}
.header-section {
  position: relative;
}
.header-section .container {
  position: absolute;
  top: 75%;
  z-index: 2;
  background-color: #ffffffba;
  left: 5%;
  border-radius: 20px;
  /*filter: drop-shadow(2px 4px 6px #2AC37D);*/
  box-shadow: 0 5px 11px 0 rgb(0 0 0/18%), 0 4px 15px 0 rgb(0 0 0/15%);
}
.header-section .container .section-feature .row .col-sm-4 {
  border-right: 1px solid #2ac37d;
}
.header-section .container .section-feature .row .col-sm-4:last-child {
  border-right: none;
}
.ps-section--features-product {
  margin-top: 150px;
}
.ps-section__header row div {
  text-align: center;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #2ac37d !important;
  border-bottom: 2px solid #2ac37d !important;
}
.nav-tabs .nav-link:hover {
  /*color: #fff !important;*/
  /*background-color: #2ac37d94 !important;*/
  color: #2ac37d !important;
  border-bottom: 2px solid #2ac37d !important;
}
.nav-tabs .nav-link {
  margin-bottom: 2px !important;
}
.ps-sidebar {
  text-align: left;
}
.my-4 {
  color: #000;
}
.divide-y li button {
  padding: 0 !important;
}
.divide-y li button,
.divide-y li #collapse-1 {
  color: #000;
}
.divide-y li #collapse-1 .card-body {
  padding: 0.5rem;
}
.divide-y li #collapse-1 .card-body ul li {
  padding: 5px 0;
}
.divide-y li form input {
  background-color: #ffffff00;
}
.bg-transparent {
  display: none;
}
@media (min-width: 1200px) AND (max-width: 1280px) {
  .header-section .container {
    top: 70%;
    left: 0;
  }
}
@media (min-width: 992px) AND (max-width: 1119px) {
  .ps-section--features-product {
    margin-top: 180px;
  }
  .menu > li > a {
    padding: 5px !important;
  }
  .header-section .container {
    top: 65%;
    left: 0;
  }
  .ps-search--header {
    max-width: 150px;
  }
}
@media (min-width: 768px) AND (max-width: 991px) {
  .menu > li {
    margin-right: 0 !important;
  }
  .menu > li > a {
    padding: 0 5px;
    font-size: 13px;
  }
  .ps-search--header {
    max-width: 102px;
  }
  .header-section .container {
    top: 65%;
    left: 0;
  }
  .section-feature {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
}
@media (max-width: 479px) {
  .header {
    display: none;
  }
  .bg-transparent {
    display: block;
    z-index: 1000;
    padding: 1rem;
    background-color: white !important;
  }
  .padding-top-bars {
    padding-top: 17%;
  }
  .header-section .container {
    display: none;
  }
  .ps-section--features-product {
    margin-top: 50px;
    margin-bottom: 0;
  }
  .ps-sidebar {
    text-align: center;
  }
}
